   git+https://github.com/stanfordnlp/dspy.git@main#egg=dspy[qdrant]
   setuptools
   wheel
   python-dotenv
   pdf2image
   pillow
   openai
   pypdf
   cryptography
   pymupdf
   pymupdf4llm
   llama-index
   packaging
   langchain-community
   requests
   ipython
   langchain-experimental
   langchain-openai
   neo4j